:root {
  --color-button: rgba(255, 107, 114, 0.1);
  --border-color: #ff6b72;
}
.dsmeta-red-btn {
  height: 45px;
  width: 45px;
  background: var(--color-button);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dsmeta-red img {
  width: 19px;
}
